<div class="col-sm-2">
              <div class="widgets">
                <div class="widget popular">
                  <h2>Popular Posts</h2>
                  <ul>
                    <li><a href="#" class="title">Bear claw lemon drops powder.</a>
                      <div class="date">27 December 2014</div>
                    </li>
                    <li><a href="#" class="title">Jujubes carrot cake muffin bonbon.</a>
                      <div class="date">7 December 2014</div>
                    </li>
                    <li><a href="#" class="title">Jujubes carrot cake muffin bonbon.</a>
                      <div class="date">7 December 2014</div>
                    </li>
                    <li><a href="#" class="title">Donut sugar plum tootsie roll</a>
                      <div class="date">7 November 2014</div>
                    </li>
                  </ul>
                </div>
                <div class="widget archive">
                  <h2>Archive</h2>
                  <ul>
                    <li><a href="#">December 2014</a></li>
                    <li><a href="#">November 2014</a></li>
                    <li><a href="#">October 2014</a></li>
                    <li><a href="#">July 2014</a></li>
                  </ul>
                </div>
                <div class="widget">
                  <h2>Tags</h2>
                    <a class="label label-default label-pink" href="#">Movies</a>
                    <a class="label label-default label-pink" href="#">Photography</a>
                    <a class="label label-default label-pink" href="#">Home</a>
                    <a class="label label-default label-pink" href="#">Life</a>
                    <a class="label label-default label-pink" href="#">Misc</a>
                </div>
                <div class="widget instagram">
                  <h2>Instagram</h2><a href="#">
                    <figure><img src="content/widget-post01.jpg"></figure></a><a href="#">
                    <figure><img src="content/widget-post02.jpg"></figure></a><a href="#">
                    <figure><img src="content/widget-post03.jpg"></figure></a><a href="#">
                    <figure><img src="content/widget-post04.jpg"></figure></a>
                </div>
              </div>
            </div>