{% extends "default" %}
{% block content_wrapper %}
<article class="post">
    <div class="row">
        <div class="col-sm-2">
            <ul class="post-info">
                <li>
                    {{ page.date|date(site.default_date_format) }}
                </li>
                {% if page.categories %}
                <li class="hidden-xs">
                    Categories:
                    {% for category in page.categories %}
                    <a class="label labe-default label-pink" href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-10">
            <a href="#" class="post-title">{{ page.title }}</a>

            <div class="post-content">
                <div class="text-editor">
                    {{ page.blocks.content|raw }}
                </div>
            </div>
            {% if page.previous_post or page.next_post %}
            <div class="other-posts-wrap">
                {% if page.previous_post %}
                <a href="{{ site.url }}{{ page.previous_post.url }}" class="prev">
                    <i class="fa fa-angle-left"></i>

                    <div class="text">{{ page.previous_post.title }}</div>
                </a>
                {% endif %}
                {% if page.next_post %}
                <a href="{{ site.url }}{{ page.next_post.url }}" class="next">
                    <i class="fa fa-angle-right"></i>

                    <div class="text">{{ page.next_post.title }}</div>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</article>

{% endblock %}
