{% extends "default" %}
{% block content_wrapper %}
<article class="post">
    <div class="row">
        <div class="col-sm-2">
            <ul class="post-info">
                <li>
                    {{ page.date|date(site.default_date_format) }}
                </li>
                {% if page.categories %}
                <li class="hidden-xs">
                    Categories:
                    {% for category in page.categories %}
                    <a class="label labe-default label-pink" href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-10">
            <a href="#" class="post-title">{{ page.title }}</a>

            <div class="post-content">
                <div class="text-editor">
                    {{ page.blocks.content|raw }}
                </div>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'kayladnls'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
        <div class="col-sm-12">
            {% if page.previous_post or page.next_post %}
            <div class="other-posts-wrap">
                {% if page.previous_post %}
                <a href="{{ site.url }}{{ page.previous_post.url }}" class="prev">
                    << {{ page.previous_post.title }}
                </a>
                {% endif %}
                {% if page.next_post %}
                <a href="{{ site.url }}{{ page.next_post.url }}" class="next">
                    {{ page.next_post.title }}>>

                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</article>

{% endblock %}
