---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article class="post">
        <div class="row">
            <div class="col-sm-2">
                <ul class="post-info">
                    <li>
                        {{ post.date|date(site.default_date_format) }}
                    </li>
                    {% if post.categories %}
                    <li class="hidden-xs">
                        Categories:
                        {% for category in post.categories %}
                        <a class="label labe-default label-pink" href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>
                        {% endfor %}
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-10">
                <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>

                <div class="post-content">
                    <div class="text-editor">
                        {{ post.blocks.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
